.button
  +prdib
  +title-font
  +box-sizing
  width: auto
  height: 38px
  line-height: 20px
  vertical-align: middle
  padding: 8px 11px
  cursor: pointer

  * 
    +prdib
    vertical-align: top

  &.button__black
    background-color: #0f0e1e
    color: white
  
  &.button--more-episodes

    .button--more-episodes-num
      color: #0f0e1e
      font-size: 0.9rem
      padding: 1px 7px
      text-align: center
      margin: 0 0 0 5px
      background-image: url(../img/episodes-icon.png)
      background-size: 100% 100%
      background-repeat: no-repeat

  &:hover
    color: rgba(255,255,255,0.8)
