.footer
  +prdb
  padding: 80px 0

  .footer--copyright, .footer--description, .footer--links, .footer--social-links
    +prdib
    +box-sizing
    vertical-align: top

  a
    font-size: 0.85rem
    color: #b8dcf3
    line-height: 1.6rem

    &:hover
      color: #d7ebf8

  ul, li
    padding: 0
    margin: 0
    vertical-align: top

  .footer--copyright
    color: #959da7
    width: 223px

  .footer--description, .footer--social-links
    padding: 0 22px
    border-left: 1px solid #32313f
    height: 125px
  
  .footer--description
    width: 348px
    
    small
      +prdb
      margin-bottom: 0.9rem

  .footer--links
    width: 223px

  .footer--social-links

    .footer--social-link
      margin-bottom: 0.5rem

      &::before
        +icons
        +prdib
        vertical-align: middle
        font-size: 1.35rem
        margin-right: 10px

      &.twitter
        &::before
          content: "\e601" // Twitter
      &.facebook
        &::before
          content: "\e605" // Facebook


