header.page-header
  +prdb
  height: 128px
  width: 100%
  background: #005bcb
  background: -moz-linear-gradient(top,  #005bcb 0%, #204896 100%)
  background: -webkit-linear-gradient(top,  #005bcb 0%,#204896 100%)
  background: linear-gradient(to bottom,  #005bcb 0%,#204896 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bcb', endColorstr='#204896',GradientType=0 )
  overflow: hidden

  ul.header-menu
    +prdb
    float: left
    +box-sizing
    height: 44px
    width: auto
    margin: 42px 0 42px 25%
    padding: 0

    li.header-menu--item
      +prdib
      height: inherit
      width: inherit
      margin: 0

      border-right: 1px solid #4975c0

      &:last-child
        border: 0

      a
        +prdb
        +unstyled-anchor
        +title-font
        height: inherit
        width: inherit
        line-height: 44px
        vertical-align: middle
        text-align: center
        padding: 0 30px
        font-size: 1.1rem

        &::after
          content: ""
          +prdb
          width: 0
          margin: auto
          height: 2px
          background-color: rgba(255,255,255,0.3)

          -webkit-transition: 0.2s ease all
          -moz-transition: 0.2s ease all
          -ms-transition: 0.2s ease all
          -o-transition: 0.2s ease all
          transition: 0.2s ease all

        &:hover
          &::after
            width: 100%

  .search-field
    +prdib
    height: 40px
    width: 251px
    float: right
    vertical-align: top
    background-color: white
    margin: 44px 0

    *
      +prdib      
      height: inherit
      vertical-align: top

    input.search-field--input
      +box-sizing
      +title-font
      font-size: 1rem
      padding: 0 10px 0 10px
      height: inherit
      width: 211px
      background-color: transparent
      vertical-align: middle

    button.search-field--submit
      +jpg-sprite
      border: 0
      outline: 0
      width: 40px
      background-position: -117px 0
      cursor: pointer

      &:hover
        +opacityz(0.8)