.media
  
  &.lazyload
    +opacityz(0)
    -webkit-transition: 0.7s ease all
    -moz-transition: 0.7s ease all
    -ms-transition: 0.7s ease all
    -o-transition: 0.7s ease all
    transition: 0.7s ease all

  &.lazyloaded
    +opacityz(1)

  .media--content-info, .media--content-properties
    +prdib
    +box-sizing
    vertical-align: top


  // CONTENT INFO
  .media--content-info
    width: 77%

    .media--content-thumbnail
      +prdib
      float: left
      width: 223px
      height: 125px
      margin-right: 24px
      cursor: pointer
      background-size: cover

      &::after
        +padb
        content: ""
        bottom: 0
        right: 0
        +jpg-sprite
        background-position: 0 0
        background-size: 52px 38px
        +square(38px)

      &:hover
        &::after
          +opacityz(0.8)

    .media--title
      color: #202020
      margin: 0 0 0.4rem 0

    .media--date
      +title-font
      color: #1d4594
      font-size: 1rem

    .media--description
      +body-font
      color: #202020


  // PROPERTIES
  .media--content-properties
    padding: 0 0 30px 15px
    border-left: 1px solid #d4dde7
    width: 23%

    *
      +prdb
      +title-font
      margin: 0 0 10px 0
      color: #204896

      &::before
        +prdib
        +icons
        font-size: 1.3rem
        margin-right: 10px
    
    .media--content-length

      &::before
        content: "\e607" // Clock
        
      &::after
        content: "m"

    .media--content-time-left
      &.media--content-time-left__expiring-soon
        color: #e72829
        &::before, &::after
          color: #e72829

      &::before
        content: "\e600" // Calendar
      &::after
        color: #6683ae
        content: " days"

  &.media--content-header
    padding: 24px 0

    .media--title
      color: white

    .media--date
      font-size: 0.9rem

    .media--description, .media--date
      color: #959da7

    .media--content-properties
      border-left: 1px solid #32313f
      margin: 60px 0 0 0
      padding: 0 0 13px 15px

      *
        margin: 0 0 24px 0
        color: white

        &::before
          color: white
          font-size: 1.2rem

      .media--content-time-left, .media--content-time-left::after
        color: #959da7

  &.media--content-episodes
    border-top: 1px solid #d4dde7
    padding: 14px 0 0 0
    margin: 0 0 15px 0

    .media--content-info

      .media--description
        margin: 0.5rem 0 0 0

  &.media--content-genre-suggestions
    background-color: #e8eff4
    margin-top: 14px
    overflow: hidden
    

    .media--content-info, .media--content-properties
      +prdb

    .media--content-info
      height: 125px
      width: 907px
      overflow: hidden

      .media--title
        margin-top: 0.5rem

    &:not(.media--content-genre-suggestion__normal)

      .media--content-info
        .media--content-thumbnail:before
          +padb
          +title-font
          +highness
          +no-pointer-events
          font-size: 1rem
          top: 10px
          left: 0
          content: "NEW"
          color: white
          padding: 7px 12px
          background-color: #e72829
          white-space: pre

    .media--content-properties
      height: 36px
      width: 660px
      border-left: 0
      border-top: 1px solid #d4dde7
      margin-left: 247px
      padding: 0

      *
        +prdib
        margin: 7px 0 0 0
        height: 20px
        line-height: 20px

      .media--content-length, .media--content-time-left
        float: right

        &::before
          font-size: 1rem

      .media--content-time-left
        border-left: 1px solid #d4dde7
        padding-left: 10px
        margin-left: 10px

    &::after
      content: ""
      +padb
      +box-sizing
      bottom: 0
      right: 0
      +square(38px)
      border-width: 38px 38px 0 0
      border-style: solid
      border-color: #d7e3ec #fff
      overflow: hidden

    &.media--content-genre-suggestion__brand-new
      
      .media--content-info

        .media--content-thumbnail

          &::before
            content: "BRAND \A NEW"
    
            
