section.episodes
  background-color: #e8eff4

  .content-episodes-list
    margin: 0

  .container
    overflow: hidden

  .button
    float: right
    margin: 20px 0

  .disclaimer
    +prdb
    clear: both
    margin-top: 50px
