section.content-area
  +prdb
  width: 100%
  background-image: url(../img/player-patt.jpg)
  background-size: 120px 120px
  background-repeat: repeat
  overflow: hidden

  .player-container
    +prdb
    width: 100%
    max-width: 1130px
    margin: 32px auto
    padding: 0 5px

    .player, .ad-frame
      +prdib
      vertical-align: top

    .player
      width: 660px
      height: 371px
      cursor: pointer

      video.player--video
        width: inherit
        height: inherit

      .player--button-overlay
        +padb
        +square(232px)
        +no-pointer-events
        background-image: url(../img/triangle-overlay.png)
        background-size: cover
        bottom: 0
        right: 0

      button.player--play-button
        +padb
        +square(116px)
        +jpg-sprite
        bottom: 0
        right: 0
        background-position: 0 0
        +no-pointer-events

      &:hover
        button.player--play-button
          +opacityz(0.9)

      &:active
        button.player--play-button
          +opacityz(0.8)

    .ad-frame
      width: 320px
      height: 270px
      margin-left: 30px
      background-image: url(../img/ad.jpg)
      background-size: cover
      background-repeat: no-repeat
      cursor: pointer