@import 'mixins'

// Colours
$dark_blue: #0f0e1e

@font-face
  font-family: 'Albert-Bold'
  src: url('../fonts/FSAlbertWeb-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Albert-Regular'
  src: url('../fonts/FSAlbertWeb-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Icons'
  src: url('../fonts/icomoon.ttf')
  font-weight: normal
  font-style: normal

@mixin title-font
  font-family: 'Albert-Bold'

@mixin body-font
  font-family: 'Albert-Regular'

@mixin icons
  font-family: 'Icons'

@mixin unstyled-anchor
  &:link, &:visited, &:hover, &:active
    color: white
    text-decoration: none

@mixin jpg-sprite
  background-image: url(../img/sprite.jpg)
  background-size: 157px 116px
  background-repeat: no-repeat

html
  color: white
  font-size: 15px
  +body-font

  *
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important
    -webkit-font-smoothing: antialiased
    outline: 0

body, html
  +box-sizing
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: $dark_blue

h1,h2,h3,h4
  +title-font

h1, h2, h3, h4, p
  +no-select

h1
  font-size: 2.4rem
  color: #202020
  margin-top: 0

h2
  font-size: 1.9rem

h3
  font-size: 1.4rem

p
  +body-font
  font-size: 1rem

small 
  font-size: 0.87rem

ul, li
  list-style: none
  list-style-type: none
  padding: 0
  height: auto

.container
  +prdb
  width: 960px
  margin: auto

input, button
  outline: 0
  border: 0

section.content-sections
  +prdb
  width: 100%
  padding: 30px 0 30px 0
  
  h1 
    margin-bottom: 1rem

