@mixin box-sizing
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

@mixin no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
@mixin no-pointer-events
  pointer-events: none

@mixin prdb
  position: relative
  display: block

@mixin prdt
  position: relative
  display: table

@mixin prdtc
  position: relative
  display: table-cell

@mixin prdn
  position: relative
  display: none

@mixin prdib
  position: relative
  display: inline-block

@mixin padb
  position: absolute
  display: block

@mixin padn
  position: absolute
  display: none

@mixin pa
  position: absolute

@mixin pfdb
  position: fixed
  display: block

@mixin pfdn
  position: fixed
  display: none

@mixin pr 
  position: relative

@mixin db
  display: block

@mixin dib
  display: inline-block

@mixin pf 
  position: fixed

@mixin dn
  display: none

@mixin box-shadow($top, $left, $blur, $spread, $rgba)
  -webkit-box-shadow: $top $left $blur $spread $rgba
  -moz-box-shadow: $top $left $blur $spread $rgba
  -ms-box-shadow: $top $left $blur $spread $rgba
  -o-box-shadow: $top $left $blur $spread $rgba
  box-shadow: $top $left $blur $spread $rgba


@mixin text-shadow($top, $left, $blur, $rgba)
  -webkit-text-shadow: $top $left $blur $rgba
  -moz-text-shadow: $top $left $blur $rgba
  -ms-text-shadow: $top $left $blur $rgba
  -o-text-shadow: $top $left $blur $rgba
  text-shadow: $top $left $blur $rgba

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

@mixin transform-origin($origin)
  -webkit-transform-origin: $origin
  -moz-transform-origin: $origin
  -ms-transform-origin: $origin
  -o-transform-origin: $origin
  transform-origin: $origin

@mixin transformz($transform)
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform
  transform: $transform

@mixin perspective($perspective)
  -webkit-perspective: $perspective
  -moz-perspective: $perspective
  -ms-perspective: $perspective
  -o-perspective: $perspective
  perspective: $perspective

@mixin preserve3d
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  -o-transform-style: preserve-3d
  transform-style: preserve-3d

@mixin backface-vis($val)
  -webkit-backface-visibility: $val
  -moz-backface-visibility: $val
  -ms-backface-visibility: $val
  -o-backface-visibility: $val
  backface-visibility: $val

@mixin transitionz($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -ms-transition: $transition
  -o-transition: $transition
  transition: $transition

@mixin opacityz($opacity)
  -webkit-opacity: $opacity
  -moz-opacity: $opacity
  -ms-opacity: $opacity
  -o-opacity: $opacity
  opacity: $opacity

@mixin middle-align($height)
  vertical-align: middle
  line-height: $height

@mixin blurz($blurz)
  -webkit-filter: blur($blurz)
  -moz-filter: blur($blurz)
  -ms-filter: blur($blurz)
  -o-filter: blur($blurz)
  filter: blur($blurz)

@mixin highness
  z-index: 995 !important

@mixin nearly-ontop
  z-index: 999 !important

@mixin ontop
  z-index: 1000 !important

@mixin ontop-absolut
  z-index: 9999 !important

@mixin square($dim)
  height: $dim
  width: $dim

@mixin cover
  +padb
  top: 0
  left: 0
  height: 100%
  width: 100%

// Colours n ting
$facebookBlue: #3b5998
$twitterCyan: #50aaf0
$linkedinBlue: #0077b5
$pinterestRed: #C92228