!!! 5

%html

  %head

    %title Ostmodern Test

    / Meta
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/styles.css"}

    %body

      %header.page-header

        .container

          %ul.header-menu

            %li.header-menu--item
              %a{href: "#"} Home
            %li.header-menu--item
              %a{href: "#"} Schedule
            %li.header-menu--item
              %a{href: "#"} All Shows

          .search-field><

            %input.search-field--input{type: "text", placeholder: "Search"}/
            %button.search-field--submit{type: "submit"}><

      %section.content-header

        .container

          .media.media--content-header><
            
            .media--content-info><
              %h2.media--title Emmerdale
              %time.media--date{datetime: "2016-06-26 19:00"} Friday 26 Jun 7:00pm
              %p.media--description Debbie is drawn to Ross. Marlon suggests Laurel comes home. Aaron fears Cain is a loose cannon.

            .media--content-properties><
              
              %span.media--content-length 22

              %span.media--content-time-left 28

      %section.content-area

        .player-container
          
          .player

            %video.player--video{poster: "img/video-thumb.jpg", width: 660, height: 371}

              %source{src: "", type: "video/mp4"}

              Your browser does not support modern video .

            .player--button-overlay
            %button.player--play-button

          .ad-frame

      %section.content-sections.episodes

        .container

          %h1 More Episodes

          %ul.content-episodes-list

            %li.media.media--content-episodes{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme1.png", width: 223, height: 125}><
                
                %h3.media--title Emmerdale
                %time.media--date{datetime: "2016-06-25 20:00"} Thursday 25 Jun 8:00pm
                %p.media--description Aaron is forced to save Robert. Victoria's future hangs in the balance. Ross punishes Jai.

              .media--content-properties><
                
                %span.media--content-length 22

                %span.media--content-time-left 28

            %li.media.media--content-episodes{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme2.png", width: 223, height: 125}><
                
                %h3.media--title Emmerdale
                %time.media--date{datetime: "2016-06-25 20:00"} Thursday 25 Jun 7:00pm
                %p.media--description It is Victoria and Adam's wedding day. Aaron makes a shocking discovery. Priya races to stop Rakesh.

              .media--content-properties><
                
                %span.media--content-length 22

                %span.media--content-time-left 28

            %li.media.media--content-episodes{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme1.png", width: 223, height: 125}><
                
                %h3.media--title Emmerdale
                %time.media--date{datetime: "2016-06-25 20:00"} Thursday 25 Jun 8:00pm
                %p.media--description Aaron is forced to save Robert. Victoria's future hangs in the balance. Ross punishes Jai.

              .media--content-properties><
                
                %span.media--content-length 22

                %span.media--content-time-left 28

            %li.media.media--content-episodes{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme2.png", width: 223, height: 125}><
                
                %h3.media--title Emmerdale
                %time.media--date{datetime: "2016-06-25 20:00"} Thursday 25 Jun 7:00pm
                %p.media--description It is Victoria and Adam's wedding day. Aaron makes a shocking discovery. Priya races to stop Rakesh.

              .media--content-properties><
                
                %span.media--content-length 22

                %span.media--content-time-left 28

          .container

            .button.button--more-episodes.button__black

              See all available episodes

              %span.button--more-episodes-num 20

          .disclaimer
            %p Due to broadcast rights, this show is not available in your region.

      %section.content-sections.genre-suggestions

        .container

          %h1 Drama &amp; Soaps

          %ul.content-genre-suggestions-list

            %li.media.media--content-genre-suggestions.media--content-genre-suggestion__new{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme2.png", width: 223, height: 125}><
                
                %h3.media--title Doc Martin
                %p.media--description Comedy drama series about a famously curmudgeonly GP. Martin is talked into taking James to playgroup, while Ruth is having problems with her new neighbour.

              .media--content-properties><

                %time.media--date{datetime: "2016-06-26 19:00"} Friday 26 Jun 7:00pm
                
                %span.media--content-time-left 28

                %span.media--content-length 46

            %li.media.media--content-genre-suggestions.media--content-genre-suggestion__new{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme1.png", width: 223, height: 125}><
                
                %h3.media--title Coronation Street
                %p.media--description Nick's world is turned upside down. Tracy is sick of Brian carping on. Norris and Mary get competitive over the pub quiz.

              .media--content-properties><

                %time.media--date{datetime: "2016-06-26 19:00"} Friday 26 Jun 8:30pm
                
                %span.media--content-time-left 28

                %span.media--content-length 22

            %li.media.media--content-genre-suggestions.media--content-genre-suggestion__brand-new{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme2.png", width: 223, height: 125}><
                
                %h3.media--title Black Work
                %p.media--description Thriller. When her detective husband is murdered, PC Jo Gillespie is expected to leave it to her colleagues in the force to find his killer. But can Jo trust her police family?

              .media--content-properties><

                %time.media--date{datetime: "2016-06-21 21:00"} Sunday 21 Jun 9:00pm
                
                %span.media--content-time-left 23

                %span.media--content-length 46

            %li.media.media--content-genre-suggestions.media--content-genre-suggestion__normal{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme1.png", width: 223, height: 125}><
                
                %h3.media--title Home Fires
                %p.media--description Drama series set in a Cheshire village during WWII. As war draws closer to home, the women have their own battles to fight. Frances tries to help Pat before it is too late.

              .media--content-properties><

                %time.media--date{datetime: "2016-06-26 19:00"} Friday 26 Jun 8:30pm
                
                %span.media--content-time-left 28

                %span.media--content-length 22

      %section.content-sections.genre-suggestions

        .container

          %h1 Recommended

          %ul.content-genre-suggestions-list

            %li.media.media--content-genre-suggestions.media--content-genre-suggestion__normal{class: "lazyload"}

              .media--content-info><

                .media--content-thumbnail{class: "lazyload", "data-bg" => "img/programme2.png", width: 223, height: 125}><
                
                %h3.media--title Coronation Street
                %p.media--description Tracy's guilt weighs heavy. Who is watching Bethany? Desperate Jenny is forced to rethink her plan.

              .media--content-properties><

                %time.media--date{datetime: "2016-05-29 21:00"} Friday 29 May 9:00pm
                
                %span.media--content-time-left.media--content-time-left__expiring-soon 9

                %span.media--content-length 21


      %footer.footer

        .container

          .footer--copyright
            %small
              Copyright &copy; 2015 Player Ltd.
              %br/
              All Rights Reserved.

          .footer--description

            %small
              The Player is our online video catch up service, allowing viewers to watch a wide range of programming, from soaps to news, for up to 30 days after broadcast.

            %small
              The Player is available 24 hours a day, 7 days a week, completely free of charge.

          .footer--links

            %ul

              %li.footer--link
                %a{href: "#"} Privacy Policy
              %li.footer--link
                %a{href: "#"} Terms and Conditions
              %li.footer--link
                %a{href: "#"} FAQs
              %li.footer--link
                %a{href: "#"} Accessibility
              %li.footer--link
                %a{href: "#"} Cookie Policy

          .footer--social-links

            %ul

              %li.footer--social-link.twitter
                %a{href: "#"} @Player
              %li.footer--social-link.facebook
                %a{href: "#"} facebook

      / Scripts
      %script{src: "./js/vendor.min.js"}